<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Whatsapp messenger home</title>
  </head>
  <body>
    <div class="container">
      <br>
      <h3> SEND MESSAGE INSTANTLY</h3>
      <br>
      <h5> USING PYWHATKIT LIBRARAY</h5>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="number" name="number" placeholder="Enter a valid number" max="9999999999" class="form-control"><br>
        <input type="text" name="message" placeholder="Enter message here" class="form-control"><br>
        <input type="submit" value="SEND MESSAGE" class="btn btn-outline-warning">
      </form>

      <br>
      <hr>
      <h5> USING TWILIO</h5>
      <form action="{% url 'twilio' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="number" placeholder="Enter a valid number" max="9999999999" class="form-control"><br>
        <input type="text" name="message" placeholder="Enter message here" class="form-control"><br>
        <input type="submit" value="SEND MESSAGE" class="btn btn-outline-warning">
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>